body {
  font-size: 23px;
  background-color: white;
  height: fit-content;
  max-width: 1000px;
  padding: 50px;
  margin: 0px;
  text-align: inherit; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

body {
  font-family: 'PT Serif', serif; }

li {
  display: inline-block;
  background-color: #7a20e2;
  padding: 10px; }

.cabezado {
  position: sticky;
  background-color: #45babe;
  min-width: none;
  font-family: initial;
  font-size: 30px; }

.pie {
  position: sticky;
  background-color: #45babe;
  height: 100px;
  min-width: none;
  font-family: initial;
  font-size: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end; }

body footer div ul li a {
  background-color: #00b7ff; }

.trabajos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-flow: row wrap; }
