*{
    margin: 0;
    padding: 0;
    text-decoration:none;
}

body{
    font-family: 'PT Serif', serif;
}

.cabezado{
    position: sticky;
    background-color: rgb(69, 186, 190);
    min-height: 170px;
    max-height: 180px;
    min-width: none;
    font-family: initial;
    font-size: 30px;
}

.pie{
    position: sticky;
    background-color: rgb(69, 186, 190);
    height: 100px;
    min-width: none;
    font-family: initial;
    font-size: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    
}

.navarriba{
    text-decoration:none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 30px;
}
li{
    display: inline-block;
    background-color: rgb(196, 202, 207);
    padding: 10px;
    color: rgb(163, 15, 15);
}
.tituloPrincipal{
    font-weight: 700;
    font-family: sans-serif;
    text-align: center;
}
.tituloIndex{
    font-weight: 1000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 50px;
    background-color: white;
    width: 200px;
}
.titulos{
    font-weight: 1000;
    margin-top: 30px;
    margin-left: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
}

.titulosSolos{
    font-weight: 1000;
    margin-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
}

#parrafoIndex{
    font-size: 23px;
    background-color: white;
    min-width: min-content;
    padding: 20px;
}
#parrafo{
    font-size: 23px;
    background-color: white;
}

.navegacion{
    margin: auto;
    width: fit-content;
}

.contenidomain{
    flex-direction: row;
    justify-content: space-between;
    min-height: 77.5vh;
}

.contenidohobbies{
    flex-direction: row;
    justify-content: space-between;
    min-height: 77.5vh;
}

.tituloHabilidad{
    margin-left: 50px;
    font-weight: 1000;
    font-size: 33px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
    background-color: white;
    margin-bottom: 20px;
    max-width: 1000px;
}

.habilidadUno{
    font-size: 23px;
    background-color: rgb(255, 255, 255);
}
.imagenHabilidad{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(255, 255, 255);
}
.habilidadDos{
    font-size: 23px;
    background-color: rgb(255, 255, 255);
}
.habilidadTres{
    font-size: 23px;
    background-color: rgb(255, 255, 255);
}

.dos{
    margin-left: 25px;
}

.imagenes{
    display: flex;
    justify-content: center;
}

.redes{
    margin-top: 25px;
    margin-right: 25px;
}

.contactoUno{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    font-size: 23px;
    background-color: white;
    text-align: center;
}
.contactoDos{
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    font-size: 23px;
    text-align: center;
}

.datosContacto{
    margin-top: 25px;
    margin-bottom: 25px;
    position: sticky;
    background-color: white;
    font-size: 20px;
    display: flex;
    flex-flow: row wrap;
    text-align: justify;
    justify-content: flex-start;

}
.parrafoHabilidades{
    margin-left: 10px;
    position: sticky;
    flex-flow: column;
    display: flex;
    justify-content: flex-start;
    font-size: 23px;
    background-color: white;
    min-width: min-content;
    height: fit-content;
    max-width:  1000px;
}

.trabajos{
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-evenly;
    object-fit: cover;
}

#parrafoTrabajos{
    font-size: 23px;
    background-color: white;
    height: fit-content;
    max-width:  1000px;
    padding: 50px;
    margin: 0px;
    text-align: inherit;
}

.animate__animated.animate__backInLeft{
    --animate-duration: 1s;
}

@media only screen and (max-width: 500px){
    .fotos{
        width: 400px;
        height: 400px;
    }
}

@media only screen and (max-width: 2500px){
    .fotos{
        width: 400px;
        height: 400px;
    }
}


@media only screen and (max-width: 500px){
    .carusel{
        height: 400px;
        margin-bottom: 500px;
    }
}

@media only screen and (max-width: 2500px){
    .carusel{
        width: 700px;
        margin-bottom: 500px;
    }
}