.pie{
    position: sticky;
    background-color: $colorPrincipal;
    height: 100px;
    min-width: none;
    font-family: initial;
    font-size: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

body{
    footer{
        div{
            ul{
                li{
                    a{
                        background-color: map-get($colores, facebook)
                    }
                }
            }
        }
    }
}